{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Usuń Produkt</h1>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card border-danger mb-3">
            <div class="card-header bg-danger text-white">Potwierdzenie Usunięcia</div>
            <div class="card-body">
                <h5 class="card-title text-danger">Czy na pewno chcesz usunąć ten produkt?</h5>
                <p class="card-text">
                    Operacja usunięcia jest nieodwracalna. Będziesz usuwać: <strong>{{ product.name }}</strong>.
                </p>

                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'product_list' %}" class="btn btn-secondary">
                            <i class="bi bi-x-lg"></i> Anuluj
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Tak, usuń
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}